.field-error {
	border: 1px solid red;
}

#remove-post-image, #remove-user-image {
	margin-top: 5px;
}

.move-box {
	margin-bottom: 20px;
}

#search-movies {
	width: 70%;
}

.move-search-box {
	margin-bottom: 40px;
}

#delete-phone-number-btn {
	margin-top: 10px;
}