.add-space {
	margin-bottom: 5px;
}

.product-img-link {
	color: red;
}

.product-img-link:hover {
	color: red;
	text-decoration: underline;
}

#search-products {
	width: 50%;
}

.products-pagination-box {
	margin-top: 20px;
}